body{
    background: #212121;
    color: white;
    font-family:;
   
}

.banner{

    background-color: black;
    background-size: cover;
    padding: 40px;
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
h1{
    text-align :center;
    font-size: 70px;
}
.down {
    background-color: black;
    background-size: cover;
    padding: 50px;
    margin: 0px;
    padding-left: 450px;
}
.paragraphe{
  font-weight: 10px;
padding-left: 100px;
  font-size: 30px;
}
.ganon{
  
    padding-left: 300px;
}
a{
    color: white;
    font-size: 30px;
}