body{
    background: #212121;
    font-family: 'Montserrat', sans-serif;
}

.banner{

    background-color: black;
    background-size: cover;
    padding: 40px;
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(255, 255, 255);
}
h1{
    text-align :center;
      
}
.down {
    background-color: black;
    background-size: cover;
    padding: 50px;
    margin: 0px;
}

.footer {
    padding-left: 450px;
}


  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: 120px;
    left: 0px;
  }


  a{
    color:white;
    font-size: 30px;
  }

h1{
    color: white;
    font-size: 50px;
}

h2{
    color: white;
    text-align: center;
}