body{
    background: #212121;
}

.banner{

    background-color: black;
    background-size: cover;
    padding: 40px;
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(255, 255, 255);
}
h1{
    text-align :center;
      
}
.down {
    background-color: black;
    background-size: cover;
    padding: 50px;
    margin: 0px;
}
