body{
    font-family: 'Montserrat', sans-serif;
}
.banner{
    background-color: black;
    background-size: cover;
    padding: 40px;
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
a{
    color: white;
}

.h1{
    background-image: url('images/Super-Smash-Bros-Ultimate-Legend-of-Zelda-Stages copie.webp');
    text-align: center;
    padding-top: 300px;
    font-size: 50px;
}
.down {
    background-color: black;
    background-size: cover;
    padding: 50px;
    margin: 0px;
    padding-left: 450px;
}
.gras{
    font-weight: bold;
}
.paragraphe{
    font-size: 60px;
}
